---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(manufacturer=sennheiser)?apiKey=rab5wajs56dheukch9svjkkm&format=json&pageSize=15&show=sku,name,customerReviewAverage,shortDescription,salePrice,image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-03.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 158,
          "currentPage": 1,
          "totalPages": 11,
          "queryTime": "0.004",
          "totalTime": "0.040",
          "partial": false,
          "canonicalUrl": "/v1/products(manufacturer=\"sennheiser\")?show=sku,name,customerReviewAverage,shortDescription,salePrice,image&format=json&apiKey=rab5wajs56dheukch9svjkkm",
          "products": [
            {
              "sku": 2602352,
              "name": "Sennheiser - Active Noise-Canceling Headphones - Black",
              "customerReviewAverage": "2.7",
              "shortDescription": "From our expanded online assortment; TalkThrough function; NoiseGard Digital noise cancellation; 10mm drivers",
              "salePrice": 229.99,
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/2602/2602352_sa.jpg"
            },
            {
              "sku": 1700513,
              "name": "Sennheiser - Audiophile Over-the-Ear Headphones - Titan",
              "customerReviewAverage": "4.5",
              "shortDescription": "Eargonomic Acoustic Refinement technology; Duofol diaphragm technology; neodymium ferrous magnet; aluminum voice coils",
              "salePrice": 179.98,
              "image": "http://images.bestbuy.c[...]
